<!-- Job 1 -->
<div class="bg-amber-50 shadow-lg rounded-sm border border-amber-300 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-05.svg" width="36" height="36" alt="Company 05" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">Senior Web App Designer</a>
                <div class="text-sm">Contract / Remote / New York, NYC</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 4</div>
            <div class="text-xs inline-flex font-medium bg-amber-100 text-amber-600 rounded-full text-center px-2.5 py-1">Featured</div>
            <button class="text-slate-300 hover:text-slate-400">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 2 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-05.svg" width="36" height="36" alt="Company 05" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">Senior Full Stack Engineer</a>
                <div class="text-sm">Contract / Remote / New York, NYC</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 7</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-amber-500">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 3 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-06.svg" width="36" height="36" alt="Company 06" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">Ruby on Rails Engineer</a>
                <div class="text-sm">Contract / Remote / New York, NYC</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 7</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-slate-300 hover:text-slate-400">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 4 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-03.svg" width="36" height="36" alt="Company 03" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">Senior Software Engineer Backend</a>
                <div class="text-sm">Full-time / Remote / Anywhere</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 7</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-slate-300 hover:text-slate-400">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 5 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-07.svg" width="36" height="36" alt="Company 07" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">React.js Software Developer</a>
                <div class="text-sm">Full-time / Remote / London, UK</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 6</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-amber-500">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 6 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-08.svg" width="36" height="36" alt="Company 08" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">Senior Full Stack Rails Developer</a>
                <div class="text-sm">Part-time / Remote / Milan, IT</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 6</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-slate-300 hover:text-slate-400">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 7 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-01.svg" width="36" height="36" alt="Company 01" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">Principal Software Engineer</a>
                <div class="text-sm">Freelance / Remote / London, UK</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 6</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-slate-300 hover:text-slate-400">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 8 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-07.svg" width="36" height="36" alt="Company 07" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">Contract React Native Engineer</a>
                <div class="text-sm">Contract / Remote / Miami, FL</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 6</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-slate-300 hover:text-slate-400">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 9 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-08.svg" width="36" height="36" alt="Company 08" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">Senior Client Engineer (React & React Native)</a>
                <div class="text-sm">Full-time / Remote / Lincoln, NE</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 5</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-slate-300 hover:text-slate-400">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Job 9 -->
<div class="bg-white shadow-lg rounded-sm border border-slate-200 px-5 py-4">
    <div class="md:flex justify-between items-center space-y-4 md:space-y-0 space-x-2">
        <!-- Left side -->
        <div class="flex items-start space-x-3 md:space-x-4">
            <div class="w-9 h-9 shrink-0 mt-1">
                <img class="w-9 h-9 rounded-full" src="../images/company-icon-02.svg" width="36" height="36" alt="Company 02" />
            </div>
            <div>
                <a class="inline-flex font-semibold text-slate-800" href="job-post.html">QA Automation Engineer</a>
                <div class="text-sm">Contract / Remote / Anywhere</div>
            </div>
        </div>
        <!-- Right side -->
        <div class="flex items-center space-x-4 pl-10 md:pl-0">
            <div class="text-sm text-slate-500 italic whitespace-nowrap">Jan 5</div>
            <div class="text-xs inline-flex font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2.5 py-1">New</div>
            <button class="text-slate-300 hover:text-slate-400">
                <span class="sr-only">Bookmark</span>
                <svg class="w-3 h-4 fill-current" width="12" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 0C.9 0 0 .9 0 2v14l6-3 6 3V2c0-1.1-.9-2-2-2H2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>